@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities
.light {
  --color-background: 255 235 137;
  --color-foreground: 73 50 122;
  --color-primary: 73 50 122;
}

.dark {
  --color-background: 73 50 122;
  --color-foreground: 255 235 137;
  --color-primary: 255 235 137;
} */
